body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  #app {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  label, select, input {
    display: block;
    margin: 10px 0 5px;
    width: 100%;
  }
  
  button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  /* Temas */
  .light-theme {
    background-color: #ffffff;
    color: #000000;
  }
  
  .light-theme button {
    background-color: #007bff;
    color: white;
  }
  
  .dark-theme {
    background-color: #1e1e1e;
    color: #f0f0f0;
  }
  
  .dark-theme button {
    background-color: #ff4081;
    color: black;
  }
  